# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Build output
frontend/dist/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Generated TLS cert (auto-created by server on first run)
backend/cert.key
backend/cert.pem
